.styledMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #111;
    height: 100vh;
    text-align: center;
    padding: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.3s ease-in-out;
    width: 100%;
  }
  
  .styledMenu a {
    font-size: 1.2rem;
    text-transform: uppercase;
    padding: 2rem 0;
    font-weight: bold;
    letter-spacing: 0.5rem;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s linear;
    
  }
  
  .styledMenu a:hover {
    color: #474747;
  }

  
@media (min-width:767px){
  .styledMenu a {
    font-size: 1.5rem;
  }
}