/* HEADER  */

.nav a {
  transition: text-decoration 50s ease;
}

.nav a:hover {
  text-decoration: line-through;
}

@media (min-width: 1024px) {
  .nav {
    writing-mode: vertical-rl;
  }
}



/* BURGER  */

.styledBurger {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
}

.styledBurger:focus {
  outline: none;
}

.styledBurger div {
  width: 2rem;
  height: 0.25rem;
  background: var(--burger-color);
  border-radius: 10px;
  transition: all 0.3s linear;
  position: relative;
  transform-origin: 1px;
}

.styledBurger div:first-child {
  transform: var(--burger-transform-first-child);
}

.styledBurger div:nth-child(2) {
  opacity: var(--burger-opacity-second-child);
  transform: var(--burger-transform-second-child);
}

.styledBurger div:nth-child(3) {
  transform: var(--burger-transform-third-child);
}


/* LOADER  */

.portfolioName {
  animation: fadeInOut 1s ease-in-out;
  -webkit-text-stroke: #111;
}


@keyframes fadeInOut {
  0% {
    opacity: 0;

  }

  100% {
    opacity: 1;
  }
}



/* SCROLL */

.circle {
  position: fixed;
  bottom: 60px;
  right: 60px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 400;
  background: transparent;
}

@media (min-width:1024px) {
  .circle {
    right: 9vw;
  }
}

.text {
  position: absolute;
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  font-weight: 500;
  animation: textRotation 10s linear infinite;
}

.text p {
  margin: 0;
}

@keyframes textRotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

.text span {
  position: absolute;
  left: 50%;
  font-size: 1em;
  transform-origin: 0 50%;
  transform: rotate(calc(var(--i) * 13deg)) translateY(-50px);
}



/* SKILLS BAR */

.barfill {
  transition: width 0.1s ease-in-out;
}


/* FOOTER */
.footer {
  letter-spacing: 3px;
  transition: 0.5s linear;
}

.footer:hover {
  text-shadow: #fff 0 0 3px;
  letter-spacing: 7px;
}