/* HEADER  */

.nav{
    writing-mode: vertical-rl;
}

.nav a{
    transition: text-decoration 50s ease;
}

.nav a:hover{
 text-decoration: line-through;
}



/* LOADER  */

.portfolioName {
    animation: fadeInOut 1s ease-in-out;
    -webkit-text-stroke:#111;
}


@keyframes fadeInOut {
    0% {
        opacity: 0;
    
    }
    100% {
        opacity: 1;
    }
}
