.background:after{
  content:"";
  background-image:url("../../../../public/img/grainy_texture.png");
  height: 500%;
  width:500%;
  position: fixed;
  opacity:0.05;
  animation: animateGrain 8s steps(10) infinite;
}
  
@keyframes animateGrain{
  0%, 100% { transform:translate(-15%, -10%) }
  10%{
    transform:translate(-5%,-5%)
  }
  20%{
    transform:translate(-15%,-10%)
  }
  30%{
    transform:translate(-5%,-5%)
  }
  40%{
    transform:translate(-15%,-10%)
  }
  50%{
    transform:translate(-5%,-5%)
  }
  60%{
    transform:translate(-15%,-10%)
  }
  70%{
    transform:translate(-5%,-5%)
  }
  80%{
    transform:translate(-15%,-10%)
  }
  90%{
    transform:translate(-5%,-5%)
  }
}