
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'AvenirLight';
  src: url('/fonts/Avenir-Light.ttf') format('truetype');
  font-weight: light;
  font-style: normal;
}

@font-face {
  font-family: 'IvyPrestoDisplay';
  src: url('/fonts/Ivy-Presto-Display-Light.otf') format('opentype');
  font-weight: italic;
  font-style: normal;
}


:root {
  margin: 0; 
  padding: 0;
}

.innerContainer{
  padding: 0 20px;
}


@media (min-width:767px){

  .innerContainer{
    padding-left: 7.5vw;
  }

}

@media (min-width:1700px){

  .innerContainer{
    max-width: 1600px;
    margin: 0 auto;
  }

}