/* Skills Section */

.barscontainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
   
  }

  .barwrapper1 {
    width: 60%;
    background-color: #5c636e;
  }

  .barwrapper {
    width: 100%;
    background-color: #5c636e;
  }
  

  .bar {
    height: 40px;
    width: 100%;
    background-color: #445f8b;
    overflow: hidden;
  }
  

  .barfill {
    height: 100%;
    width: 0;
    background-color: #ffc115;
    transition: width 0.3s ease-in-out;
    height: 100%;
  }

  .technologies span:hover{
color: #f8b500;
  }



  
/* Video Section */

@media (min-width:1700px){
  .videoSectionTitle{
    margin: auto;
  }
}