/* About Me Section */

.aboutContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}



/* Projects Section */

.carouselInner {
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  gap: 50px;
}

.item {
  display: flex;
  align-items: center;
  gap: 50px;
}

.sticky {
  position: sticky;
  max-height: 80vh;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.dim {
  display: block;
  min-width: 90vw;
  height: 80vh;

}

.dim div {
  display: flex;
}

.horizontal {
  display: flex;
  height: 80vh;
  gap: 300px;
  align-items: center;
}

.list {
  display: flex;
  align-items: center;
  width: 200%;
  animation: loop 15s linear infinite;
}

@keyframes loop {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-80%);
  }
}



/* Skills Section */

.technologies span:hover {
  color: #f8b500;
}



/* Contact Section */

/* DUCK ANIMATION */

.duck:nth-child(1) {
  animation: fadeInOut1 5s infinite;
}

.duck:nth-child(2) {
  animation: fadeInOut2 5s infinite;
}

.duck:nth-child(3) {
  animation: fadeInOut3 5s infinite;
}


@keyframes fadeInOut1 {

  0%,
  80% {
    opacity: 1;
  }

  90%,
  100% {
    opacity: 0.5;
  }
}

@keyframes fadeInOut2 {

  33%,
  80% {
    opacity: 1;
  }

  0%,
  23%,
  90%,
  100% {
    opacity: 0.5;
  }
}


@keyframes fadeInOut3 {

  63%,
  80% {
    opacity: 1;
  }

  0%,
  53%,
  90%,
  100% {
    opacity: 0.5;
  }
}


/* TITLE ANIMATION */

.lineUp {
  animation: 2s anim-lineUp ease-out 1;
}

@keyframes lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }

  20% {
    opacity: 0;
  }

  50% {
    opacity: 1;
    transform: translateY(0%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}



@media (min-width:1024px) {

  /* About Me Section */
  .aboutContainer {
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
  }
}



@media (min-width:1700px) {

  /* Video Section */
  .videoSectionTitle {
    margin: auto;
  }
}