/* Projects Section */





.dim {
  display: block;
  min-width: 90vw;
}

.dim div {
  display: flex;
}



.list {
  display: flex;
  align-items: center;
  width: 200%;
  animation: loop 15s linear infinite;
}

@keyframes loop {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-80%);
  }
}



@media (min-width:1024px) {

  /* About Me Section */
  .aboutContainer {
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
  }
}



@media (min-width:1700px) {

  /* Video Section */
  .videoSectionTitle {
    margin: auto;
  }
}