.carouselInner {
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    gap: 50px;
}

.list {
    display: flex;
    align-items: center;
    width: 200%;
    animation: loop 15s linear infinite;
}

.item {
    display: flex;
    align-items: center;
    gap: 50px;
}

@keyframes loop {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-80%);
    }
}


.sticky {
    position: sticky;
    max-height: 80vh;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.dim {
    display: block;
    min-width: 90vw;
    height: 80vh;

}

.dim div {
    display: flex;
}


.horizontal {
    display: flex;
    height: 80vh;
    gap: 300px;
    align-items: center;
}

