/* CONTACT FORM */

.formulario input::placeholder,
.formulario textarea::placeholder{
   color: white !important;
}

.formulario input,
.formulario textarea{
   outline:none;
}

 .contactButton span {
   position: relative;
   z-index: 3;
 }
 
 .contactButton::before {
   content: "";
   position: absolute;
   top: 5px;
   left: -2px;
   width: calc(100% + 6px);
   height: calc(100% - 10px);
   background-color: #111;
   transition: all 0.5s ease-in-out;
   transform: scaleY(1);
 }
 
 .contactButton:hover::before {
   transform: scaleY(0);
 }
 
 .contactButton::after {
   content: "";
   position: absolute;
   left: 5px;
   top: -5px;
   width: calc(100% - 10px);
   height: calc(100% + 10px);
   background-color: #111;
   transition: all 0.5s ease-in-out;
   transform: scaleX(1);
 }
 
 .contactButton:hover::after {
   transform: scaleX(0);
 }



/* BURGER MENU */

.styledMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #111;
  height: 100vh;
  text-align: center;
  padding: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.3s ease-in-out;
  width: 100%;
}

.styledMenu a {
  font-size: 1rem;
  text-transform: uppercase;
  padding: 2rem 0;
  font-weight: bold;
  letter-spacing: 0.5rem;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s linear;
  
}

.styledMenu a:hover {
  color: #474747;
}